<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">


      <% modulePermissions.forEach(function(modulePermission) {
        %>
        <li class="nav-item">
          <a href="/<%= modulePermission.id %>" class="nav-link">
              <i class="menu-icon <%= modulePermission.icon %>"></i>
                <span class="menu-title"><%= modulePermission.title %></span>
          </a>
        </li>

    <% }); %>



      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
          <i class="icon-layout menu-icon"></i>
          <span class="menu-title">UI Elements</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ui-basic">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="pages/ui-features/buttons.html">Buttons</a></li>
            <li class="nav-item"> <a class="nav-link" href="pages/ui-features/dropdowns.html">Dropdowns</a></li>
            <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Typography</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>